.edit-btn {
  margin-top: 10%;
  margin-left: 10%;
  border-radius: 20px;
  z-index: -2;
  width: 80px;
  letter-spacing: 0.1em;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #2cd665;
  
  display: block;
  background-image: linear-gradient(
    to right,
    #1f7714 0%,
    #25c047 51%,
    #196d20 100%
  );
 
}
.delete-btn {
  border-radius: 20px;
  margin-top: 10%;
  margin-left: 3%;
  transition: 0.5s;
  background: linear-gradient(180deg, #ff7147, #e0417f);
  z-index: -2;
  letter-spacing: 0.1em;
  padding: 15px 45px;
  text-align: center;
  
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #c20d0d;
}
.moveup-btn {
  margin-top: 10%;
  margin-left: 3%;
  border-radius: 20px;
  z-index: -2;
  letter-spacing: 0.1em;
  background-image: linear-gradient(
    to right,
    #19a391 0%,
    #38d1ec 51%,
    #248d88 100%
  );
  padding: 15px 45px;
  text-align: center;
  
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #148fc9;
}
.movedown-btn {
    border: none;
  margin-top: 10%;
  margin-left: 3%;
  
  background-image: linear-gradient(
    to right,
    #f09819 0%,
    #edde5d 51%,
    #f09819 100%
  );
  
  padding: 15px 45px;
  text-align: center;
  
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #cfbd18;
  
  display: block;
  letter-spacing: 0.1em;
  z-index: -2;
}
.movedown-btn:hover{
     background-position: right center; 
    color: #fff; 
    text-decoration: none; 
    transform: scale(1.1);
    animation: animate 8s linear infinite;
}
.delete-btn:hover {
  background: linear-gradient(180deg, #fc5826, #ca2464);
  transform: scale(1.1);
}
@keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  .moveup-btn:hover{
    background-position: right center; 
    color: #fff; 
    text-decoration: none; 
    transform: scale(1.1);
    animation: animate 8s linear infinite;
  }
.edit-btn:hover{
    background-position: right center; 
    color: #fff; 
    text-decoration: none; 
    transform: scale(1.1);
    animation: animate 8s linear infinite;
}