.edit-btn{
    margin-top: 10%;
    margin-left: 10%;
}
.delete-btn{
    margin-top: 10%;
    margin-left: 2%;
}
.moveup-btn{
    margin-top: 10%;
    margin-left: 2%;
}
.movedown-btn{
    margin-top: 10%;
    margin-left: 2%;
}